body{
    background-color: beige;
}

.bilan{
    margin: 25%;
    margin-top: 0%;
    background-color: white;

}

header{
       text-align: center;
       margin-left: 25%;
       margin-right: 25%;
}

.section1{
    height: 350px;

    margin-left: 5%;
}

.p1{
    border-bottom: 1px solid black;
    float: right;
}

.p2{
    float: right;
    text-align: justify;
    margin-right: 30%;
    margin-left: 30%;
}

.ph2, .ph3, .ph4, .ph5{
    text-align: justify;
    float: left;
    margin: 5%;
    margin-right: 60%;
}

.chaise{
    float: right;
}


footer{
    text-align: justify;
    margin-right: 25%;
    margin-bottom: 25%;
}
